*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: black;
}
#main{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
iframe{
    top: -2%;
    position: fixed;
    right: -20%;
}
@media (max-width: 700px) {
  iframe{
    display: none;
  }
}