:root{
    --priColor:#3D45AA;
    --secColor:#ff4321;
    --terColor:#F8843F;
    --quaColor:#FFF19B;
}
@font-face {
    font-family: regular;
    src: url('./AeonikTRIAL-Regular.otf');
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: regular;
    color: white;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
}
html {
    font-size: clamp(0.875rem, 1vw + 0.5rem, 1.125rem);
    scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

#main {
    width: 100%;
    padding: 10px;
    background-color: var(--priColor);
}

iframe {
    position: fixed;
    top: -3%;
    right: -42%;
}

.allElements {
    width: 100%;
    height: 100%;
}
.navbar{
    text-align: center;
    font-size: 2.1rem;
    background-color: var(--priColor);
    padding: 10px 0px;
    border-radius: 10px;
    color: var(--quaColor);
}
nav {
    width: 100%;
    line-height: 2;
    padding: 15px 0px;
    font-size: 1.5rem;
    background-color: var(--quaColor);
    border-radius: 10px;
    margin: 10px 0px;
}
nav div ,span{
    color: black;
}
.navLeft .time{
    font-size: 1.8rem;
}

.navLeft{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.cards{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0px;
}
.card{
    width: 400px;
    height: 350px;
    border-radius: 10px;
    position: relative;
}
.cards img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    pointer-events: none;
}
.card p{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 1.5rem;
}

.element{
    width: 100%;
    height: 100vh;
    background-color: red;
    display: none;
}
@media (max-width: 700px) {
    iframe {
        display: none;
    }
}